In [ ]:
## for data
import pandas as pd
import numpy as np
from pandasgui import show
import os
import sys

import datetime

## for plotting
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
aviation_data = r'/Users/robertreynoso/Desktop/phase_03_project/data/clean_aviation_data_2.csv'

df = pd.read_csv(aviation_data, encoding='latin-1')

In [10]:
gui  = show(df)

In [ ]:
df.dtypes

In [45]:
df['injury_severity'] = df['injury_severity'].str.replace('\d+', '')

In [53]:
cols = ['injury_severity']
for col in cols:
    df[col] = df[col].map(lambda x: str(x).lstrip(' ()').rstrip(' ()'))

In [55]:
df = df.rename(columns={'injury_severity': 'target', 'AmateurBuilt': 'amateur_built'})

In [58]:
gui  = show(df)

In [57]:
df.replace({'target' : {'Incident':'Non-Fatal'}}, inplace = True)

In [59]:
df.target.value_counts(ascending=False)

Non-Fatal    39521
Fatal         9150
Name: target, dtype: int64

In [38]:
df.dtypes

target                   int64
location                 int64
aircraft_damage          int64
make                     int64
model                   object
number_of_engines        int64
engine_type              int64
weather_conditions       int64
phase_of_flight         object
Year                     int64
Month                    int64
Day                      int64
injuries               float64
pax_onboard            float64
fatality_percentage    float64
survived                 int64
amateur_built           object
dtype: object

In [67]:

#Encoding categorical data values (Transforming object data types to integers)
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

#label vs hot_encoder??? 

#Encode location column
df.iloc[:,1]=labelencoder.fit_transform(df.iloc[:,1].values)

#Encode target column
df.iloc[:,0]=labelencoder.fit_transform(df.iloc[:,0].values)


#Encode aircraft_damage
df.iloc[:,2]=labelencoder.fit_transform(df.iloc[:,2].values)

#Encode make
df.iloc[:,3]=labelencoder.fit_transform(df.iloc[:,3].values)

#Encode model
df.iloc[:,4]=labelencoder.fit_transform(df.iloc[:,4].values)

#Encode engine_type
df.iloc[:,6]=labelencoder.fit_transform(df.iloc[:,6].values)

#Encode weather_conditions
df.iloc[:,7]=labelencoder.fit_transform(df.iloc[:,7].values)

#Encode phase_of_flight
df.iloc[:,8]=labelencoder.fit_transform(df.iloc[:,8].values)

#Encode amateur_built
df.iloc[:,16]=labelencoder.fit_transform(df.iloc[:,16].values)

In [71]:
df.head()

,Unnamed: 0,location,target,aircraft_damage,make,model,number_of_engines,engine_type,weather_conditions,phase_of_flight,Year,Month,Day,injuries,pax_onboard,fatality_percentage,survived,amateur_built
0,0,1725,1,0,2963,64,1,0,2,CLIMB,1982,6,13,1.0,1.0,0.0,1,No
1,1,7692,1,0,2963,KR-2,1,0,2,CRUISE,1982,7,1,2.0,2.0,0.0,2,Yes
2,2,4221,0,0,2963,WINDWAGON,1,0,2,APPROACH,1982,7,16,1.0,1.0,100.0,0,Yes
3,3,12735,1,0,2963,MIDGET MUSTANG,1,0,2,MANEUVERING,1982,8,21,0.0,1.0,0.0,1,Yes
4,4,11332,1,2,2963,SKYBOLT,1,0,2,LANDING,1982,8,24,0.0,1.0,0.0,1,Yes

In [70]:
#Encode model
df.iloc[:,4]=labelencoder.fit_transform(df.iloc[:,4].values)

In [41]:
df = df[['target','location','aircraft_damage',
                  'make','model','number_of_engines','engine_type',
                  'weather_conditions','phase_of_flight','Year',
                 'Month','Day','injuries','pax_onboard','fatality_percentage',
                 'survived','amateur_built']]

In [42]:
df.to_csv('/Users/robertreynoso/Desktop/phase_03_project/data//encoded_aviation_data_3.csv')