In [4]:
import pandas as pd

In [5]:
aviation_data = r'/Users/robertreynoso/Desktop/Phase3_Project_Data/data/missing_test.csv'

data = pd.read_csv(aviation_data, encoding='latin-1')

In [3]:
data.columns

Index(['Unnamed: 0', 'event_date', 'location', 'injury_severity',
       'aircraft_damage', 'make', 'model', 'amateur_build',
       'number_of_engines', 'engine_type', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_conditions', 'phase_of_flight', 'Year', 'Month', 'Day',
       'injuries', 'pax_onboard', 'fatality_percentage', 'survived',
       'AmateurBuilt', 'index'],
      dtype='object')

In [12]:
df = data.drop(['Unnamed: 0', 'index', 'amateur_build', 'injury_severity'], axis=1)

In [13]:
# select the wanted columns

df_knn_impute = df[['aircraft_damage', 'make', 'model', 'engine_type', 'number_of_engines']]

In [14]:
#Encoders require their input to be uniformly strings or numbers. 

df_knn_impute = df_knn_impute[['aircraft_damage', 'make', 'model', 'engine_type', 'number_of_engines']].astype(str)

In [15]:
#Encoding categorical data values (Transforming object data types to integers)

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()

#Encode aircraft_damage column
df_knn_impute.iloc[:,0]=labelencoder.fit_transform(df_knn_impute.iloc[:,0].values)

#Encode make column
df_knn_impute.iloc[:,1]=labelencoder.fit_transform(df_knn_impute.iloc[:,1].values)

#Encode model column
df_knn_impute.iloc[:,2]=labelencoder.fit_transform(df_knn_impute.iloc[:,2].values)

#Encode engine_type column
df_knn_impute.iloc[:,3]=labelencoder.fit_transform(df_knn_impute.iloc[:,3].values)

In [16]:
df_knn_impute.head()

   aircraft_damage  make  model  engine_type number_of_engines
0                0  6707   1300            6               1.0
1                0  6707   6357            6               1.0
2                0  6707  11073            6               1.0
3                0  6707   7058            6               1.0
4                2  6707   9656            6               1.0

In [19]:
X = df_knn_impute

In [21]:
from sklearn.model_selection import train_test_split

X_train, x_test = train_test_split(X, test_size=0.20)

In [22]:
from sklearn.preprocessing import StandardScaler
scaler  = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
x_test = scaler.transform(x_test)

In [24]:
from sklearn.impute import KNNImputer

knn = KNNImputer(n_neighbors=5, add_indicator=True)

In [25]:
knn.fit(X_train)

KNNImputer(add_indicator=True)

In [27]:
pd.DataFrame(knn.transform(X_train))

              0         1         2         3         4    5
0      0.507868  1.207293  1.004632 -0.454292 -0.320237  0.0
1      0.507868  1.281660 -0.007267 -0.454292 -0.320237  0.0
2     -1.810922  0.061828 -0.565091 -0.454292 -0.320237  0.0
3      0.507868  1.207293  1.032702 -0.454292 -0.320237  0.0
4      0.507868 -0.701102  1.734729 -0.454292 -0.320237  0.0
...         ...       ...       ...       ...       ...  ...
63429  0.507868 -0.986265 -1.007333  2.067777 -0.320237  0.0
63430  0.507868 -0.701102 -0.607747 -0.454292 -0.320237  0.0
63431  0.507868 -0.701102 -0.128354 -0.454292 -0.320237  0.0
63432 -1.810922 -0.701102  1.219010 -0.454292 -0.320237  0.0
63433 -1.810922 -0.701102 -1.057144 -0.454292 -0.320237  0.0

[63434 rows x 6 columns]

In [29]:
pd.DataFrame(knn.transform(X_train)).isna().sum()

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [32]:
g = pd.DataFrame(knn.transform(x_test))

In [37]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15859 entries, 0 to 15858
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       15859 non-null  float64
 1   1       15859 non-null  float64
 2   2       15859 non-null  float64
 3   3       15859 non-null  float64
 4   4       15859 non-null  float64
 5   5       15859 non-null  float64
dtypes: float64(6)
memory usage: 743.5 KB

In [ ]:
labelencoder.inverse_transform(g)

In [38]:
#reverse aircraft_damage column
g.iloc[:,0]=labelencoder.inverse_transform(g.iloc[:,0].values)

ValueError: y contains previously unseen labels: [-1.8109216  -0.65152675  0.50786809  1.66726294]