In [1]:
# Importing libraries
import pandas as pd

In [2]:
aviation_data = r'/Users/robertreynoso/Desktop/Phase3_Project_Data/data/missing_test.csv'

data = pd.read_csv(aviation_data, encoding='latin-1')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79293 entries, 0 to 79292
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              79293 non-null  int64
 1   event_date              79293 non-null  object
 2   location                79293 non-null  object
 3   injury_severity         79293 non-null  object
 4   aircraft_damage         76883 non-null  object
 5   make                    79204 non-null  object
 6   model                   79175 non-null  object
 7   amateur_build           78721 non-null  object
 8   number_of_engines       75307 non-null  float64
 9   engine_type             75919 non-null  object
 10  total_fatal_injuries    55984 non-null  float64
 11  total_serious_injuries  53742 non-null  float64
 12  total_minor_injuries    54833 non-null  float64
 13  total_uninjured         66949 non-null  float64
 14  weather_conditions      79293 non-null  object
 15  phase_of_flight         73239 non-null  object
 16  Year                    79293 non-null  int64
 17  Month                   79293 non-null  int64
 18  Day                     79293 non-null  int64
 19  injuries                49736 non-null  float64
 20  pax_onboard             49622 non-null  float64
 21  fatality_percentage     49595 non-null  float64
 22  survived                49622 non-null  float64
 23  AmateurBuilt            79293 non-null  object
 24  index                   79293 non-null  int64
dtypes: float64(9), int64(5), object(11)
memory usage: 15.1+ MB

In [11]:
# select the wanted columns

df = data[['aircraft_damage', 'make', 'model', 'engine_type', 'number_of_engines']]

In [13]:
ac = pd.get_dummies(df['aircraft_damage'],drop_first=True)

In [ ]:
from pandasgui import show

gui  = show(train)

In [14]:
ma = pd.get_dummies(df['make'],drop_first=True)

In [15]:
mo = pd.get_dummies(df['model'],drop_first=True)

In [16]:
en = pd.get_dummies(df['engine_type'],drop_first=True)

In [17]:
num = pd.get_dummies(df['number_of_engines'],drop_first=True)

In [18]:
train = pd.concat([ac,ma,mo,en,num],axis=1)